@model ResultMessage

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-@Model.Css">
            <h5 class="alert-title">@Model.Title</h5>
            <p>@Model.Message</p>
        </div>
    </div>
</div>
